<section class="section-about">
  <div class="container">
    <div class="text-part">
      <h2 class="title-about">About Us</h2>

      <p class="text-about">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>

      <p class="text-about">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <img
      class="about-image"
      srcset="
        ../img/aboutMob.jpg     335w,
        ../img/aboutMob@2x.jpg  670w,
        ../img/aboutTab.jpg     704w,
        ../img/aboutTab@2x.jpg 1408w,
        ../img/aboutMin.jpg     594w,
        ../img/aboutMin@2x.jpg 1188w,
        ../img/about.jpg        709w,
        ../img/about@2x.jpg    1418w
      "
      sizes="(min-width: 1440px) 709px, 
      (min-width: 1280px) 594px,
       (min-width: 768px) 704px,
        (max-width: 767px) 335px"
      src="../img/aboutMob.jpg"
      alt="ornament"
      width="594"
      height="545"
    />
  </div>
</section>
