<section id="our-collection" class="our-collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="./img/collectOne.jpg 1x, ./img/collectOne@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:1280px)"
            srcset="./img/collectOneMin.jpg 1x, ./img/collectOneMin@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/collectOneTab.jpg 1x, ./img/collectOneTab@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./img/collectOneMob.jpg 1x, ./img/collectOneMob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="collect-image"
            src="./img/collectOneMin.jpg"
            alt="august poltava women's blousering"
            loading="lazy"
          />
        </picture>
        <p class="description-collection-item">
          august poltava women's blousering
        </p>
        <span class="price-collection-item">3300 UAH</span>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="./img/collectTwo.jpg 1x, ./img/collectTwo@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:1280px)"
            srcset="./img/collectTwoMin.jpg 1x, ./img/collectTwoMin@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/collectTwoTab.jpg 1x, ./img/collectTwoTab@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./img/collectTwoMob.jpg 1x, ./img/collectTwoMob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="collect-image"
            src="./img/collectTwoMin.jpg"
            alt="Women's blouse Gorgany"
            loading="lazy"
          />
        </picture>
        <p class="description-collection-item">Women's blouse Gorgany</p>
        <span class="price-collection-item">3350 UAH</span>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="./img/collectThree.jpg 1x, ./img/collectThree@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collectThreeMin.jpg    1x,
              ./img/collectThreeMin@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collectThreeTab.jpg    1x,
              ./img/collectThreeTab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collectThreeMob.jpg    1x,
              ./img/collectThreeMob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collect-image"
            src="./img/collectThreeMin.jpg"
            alt="Women's blouse Crimea"
            loading="lazy"
          />
        </picture>
        <p class="description-collection-item">Women's blouse Crimea</p>
        <span class="price-collection-item">4000 UAH</span>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="./img/collectFour.jpg 1x, ./img/collectFour@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:1280px)"
            srcset="./img/collectFourMin.jpg 1x, ./img/collectFourMin@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/collectFourTab.jpg 1x, ./img/collectFourTab@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./img/collectFourMob.jpg 1x, ./img/collectFourMob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="collect-image"
            src="./img/collectFour.jpg"
            alt="Men's shirt Verkhovina"
            loading="lazy"
          />
        </picture>
        <p class="description-collection-item">Men's shirt Verkhovina</p>
        <span class="price-collection-item">3100 UAH</span>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="./img/collectFive.jpg 1x, ./img/collectFive@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:1280px)"
            srcset="./img/collectFiveMin.jpg 1x, ./img/collectFiveMin@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/collectFiveTab.jpg 1x, ./img/collectFiveTab@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./img/collectFiveMob.jpg 1x, ./img/collectFiveMob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="collect-image"
            src="./img/collectFive.jpg"
            alt="Mountain men's shirt"
            loading="lazy"
          />
        </picture>
        <p class="description-collection-item">Mountain men's shirt</p>
        <span class="price-collection-item">3300 UAH</span>
      </li>
      <li class="collection-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="./img/collectSix.jpg 1x, ./img/collectSix@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:1280px)"
            srcset="./img/collectSixMin.jpg 1x, ./img/collectSixMin@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/collectSixTab.jpg 1x, ./img/collectSixTab@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./img/collectSixMob.jpg 1x, ./img/collectSixMob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="collect-image"
            src="./img/collectSix.jpg"
            alt="Men's shirt Yasen"
            loading="lazy"
          />
        </picture>
        <p class="description-collection-item">Men's shirt Yasen</p>
        <span class="price-collection-item">1700 UAH</span>
      </li>
    </ul>
  </div>
</section>
