<section class="our-collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <img
          class="collect-image"
          srcset="
            ./img/collectOneMob.jpg    335w,
            ./img/collectOneMob@2x.jpg 670w,
            ./img/collectOneTab.jpg    342w,
            ./img/collectOneTab@2x.jpg 684w,
            ./img/collectOneMin.jpg    347w,
            ./img/collectOneMin@2x.jpg 694w,
            ./img/collectOne.jpg       400w,
            ./img/collectOne@2x.jpg    800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/collectOneMin.jpg"
          alt=""
        />
        <p class="description-collection-item">
          august poltava women's blousering
        </p>
        <span class="price-collection-item">3300 UAH</span>
      </li>
      <li class="collection-list-item">
        <img
          class="collect-image"
          srcset="
            ./img/collectTwoMob.jpg    335w,
            ./img/collectTwoMob@2x.jpg 670w,
            ./img/collectTwoTab.jpg    342w,
            ./img/collectTwoTab@2x.jpg 684w,
            ./img/collectTwoMin.jpg    347w,
            ./img/collectTwoMin@2x.jpg 694w,
            ./img/collectTwo.jpg       400w,
            ./img/collectTwo@2x.jpg    800w
          "
          src="./img/collectTwoMin.jpg"
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          alt=""
        />
        <p class="description-collection-item">Women's blouse Gorgany</p>
        <span class="price-collection-item">3350 UAH</span>
      </li>
      <li class="collection-list-item">
        <img
          class="collect-image"
          srcset="
            ./img/collectThreeMob.jpg    335w,
            ./img/collectThreeMob@2x.jpg 670w,
            ./img/collectThreeTab.jpg    342w,
            ./img/collectThreeTab@2x.jpg 684w,
            ./img/collectThreeMin.jpg    347w,
            ./img/collectThreeMin@2x.jpg 694w,
            ./img/collectThree.jpg       400w,
            ./img/collectThree@2x.jpg    800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/collectThreeMin.jpg"
          alt=""
        />
        <p class="description-collection-item">Women's blouse Crimea</p>
        <span class="price-collection-item">4000 UAH</span>
      </li>
      <li class="collection-list-item">
        <img
          class="collect-image"
          srcset="
            ./img/collectFourMob.jpg    335w,
            ./img/collectFourMob@2x.jpg 670w,
            ./img/collectFourTab.jpg    342w,
            ./img/collectFourTab@2x.jpg 684w,
            ./img/collectFourMin.jpg    347w,
            ./img/collectFourMin@2x.jpg 694w,
            ./img/collectFour.jpg       400w,
            ./img/collectFour@2x.jpg    800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/collectFourMin.jpg"
          alt=""
        />
        <p class="description-collection-item">Men's shirt Verkhovina</p>
        <span class="price-collection-item">3100 UAH</span>
      </li>
      <li class="collection-list-item">
        <img
          class="collect-image"
          srcset="
            ./img/collectFiveMob.jpg    335w,
            ./img/collectFiveMob@2x.jpg 670w,
            ./img/collectFiveTab.jpg    342w,
            ./img/collectFiveTab@2x.jpg 684w,
            ./img/collectFiveMin.jpg    347w,
            ./img/collectFiveMin@2x.jpg 694w,
            ./img/collectFive.jpg       400w,
            ./img/collectFive@2x.jpg    800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/collectFiveMin.jpg"
          alt=""
        />
        <p class="description-collection-item">Mountain men's shirt</p>
        <span class="price-collection-item">3300 UAH</span>
      </li>
      <li class="collection-list-item">
        <img
          class="collect-image"
          srcset="
            ./img/collectSixMob.jpg    335w,
            ./img/collectSixMob@2x.jpg 670w,
            ./img/collectSixTab.jpg    342w,
            ./img/collectSixTab@2x.jpg 684w,
            ./img/collectSixMin.jpg    347w,
            ./img/collectSixMin@2x.jpg 694w,
            ./img/collectSix.jpg       400w,
            ./img/collectSix@2x.jpg    800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/collectSixMin.jpg"
          alt=""
        />
        <p class="description-collection-item">Men's shirt Yasen</p>
        <span class="price-collection-item">1700 UAH</span>
      </li>
    </ul>
  </div>
</section>
