<footer class="footer-section">
  <div class="container">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="./index.html#about-us">about us</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="./index.html#our-collection"
          >our clollection</a
        >
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="./index.html#customer-order"
          >customer order</a
        >
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="./index.html#testimonials"
          >testimonials</a
        >
      </li>
    </ul>
    <p class="company-slogan">
      A touch of <span class="title-accent">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
