<footer class="section footer-section">
  <div class="footer-container">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">about us</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">customer order</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">our clollection</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="">testimonials</a>
      </li>
    </ul>
    <p class="company-slogan">
      A touch of <span class="title-accent">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
