<header class="page-header">
  <div class="container flex-top">
    <nav class="navigation">
      <a class="logo" href="./index.html"
        ><img
          src="../img/logo.svg"
          width="44"
          height="39"
          alt="Vyshyvanka Vibes logotype"
      /></a>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a class="nav-link" href="./index.html#about-us">About us</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="./index.html#our-collection"
            >Our collection</a
          >
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="./index.html#customer-order"
            >Customer order</a
          >
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="./index.html#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="contacts">
        <a class="phone" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </div>
      <ul class="social-media">
        <li class="social-media-item">
          <a
            class="social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            ><svg class="social-link-icon">
              <use
                href="../img/icons.svg#icon-facebook"
                width="28"
                height="28"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            class="social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            ><svg class="social-link-icon">
              <use
                href="../img/icons.svg#icon-instagram"
                width="28"
                height="28"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            class="social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            ><svg class="social-link-icon">
              <use
                href="../img/icons.svg#icon-youtube"
                width="28"
                height="28"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mobile-btn" type="button">
        <svg class="mobile-btn-icon">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
