<section class="hero">
  <div class="container hero-container">
    <div class="hero-main">
      <picture>
        <source
          media="(min-width:1280px)"
          srcset="./img/heroGirDes.jpg 1x, ./img/heroGirDes@2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(min-width:768px)"
          srcset="./img/heroGirTab.jpg 1x, ./img/heroGirTab@2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(max-width:767px)"
          srcset="./img/heroGirMob.jpg 1x, ./img/heroGirMob@2x.jpg 2x"
          type="image/jpg"
        />
        <img
          class="hero-image"
          src="./img/heroGirMob"
          alt="Hero Girl"
          loading="lazy"
        />
      </picture>

      <div class="title">
        <h1 class="main-title">
          Reviving the traditional
          <span class="ukraine">Ukrainian</span> artistry in every stitch.
        </h1>
        <a class="order-button" href="./index.html#customer-order"
          >order
          <svg class="order-button-icon" width="26" height="22">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="pictures-hero">
      <div class="star">
        <ul class="star-list">
          <li class="star-item">
            <svg class="star-icon" width="52" height="51">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-item">
            <p class="star-text">all embroidery is made by hand</p>
          </li>
        </ul>
      </div>

      <div class="hero-small-image">
        <ul class="small-image-list list">
          <li class="small-image-item list">
            <img
              class="small-image"
              srcset="./img/Group.png 1x, ./img/Group@2x.png 2x"
              src="./img/Group.png"
              alt="Vyshuvanka small"
              width="139"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
