<section class="hero">
    <div class="container hero-container">
        <div class="hero-main">
            <img class="hero-image" srcset="
                    ../img/heroGirMob.jpg 335w,
                    ../img/heroGirMob@2x.jpg 670w,
                    ../img/heroGirTab.jpg 413w,
                    ../img/heroGirTab@2x.jpg 826w,
                    ../img/heroGirDes.jpg 392w,
                    ../img/heroGirDes@2x.jpg 784w"
                sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
                src="../img/heroGirDes.jpg" alt="Vyshuvanka Main" width="392">

            <div class="title">
                <h1 class="main-title">
                    Reviving the traditional <span class="ukraine">Ukrainian</span> artistry in every stitch.
                </h1>
                <button class="order-button" type="button">
                    order
                    <svg class="order-button-icon" width="26" hight="10">
                        <use href="../img/icons.svg#icon-arrow">
                        </use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="pictures-hero">
            <div slass="star">
                <ul class="star-list list">
                    <li class="star-item">
                        <button class="star-button" type="button" style="height: 51px;">
                            <svg class="star-icon" width="52" hight="51">
                                <use href="../img/icons.svg#icon-star">
                                </use>
                            </svg>
                        </button>
                    </li>
                    <li class="star-item">
                        <p class="star-text">
                            all embroidery is made by hand
                        </p>
                    </li>
                </ul>
            </div>

            <div class="hero-small-image">
                <ul class="small-image-list list">
                    <li class="small-image-item list">
                        <img class="small-image" srcset="../img/Group.png 1x, ../img/Group@2x.png 2x"
                            src="../img/Group.png" alt="Vyshuvanka small" width="139">
                    </li>
                </ul>
            </div>
        </div>


    </div>


</section>