<section class="order-section">
  <div class="order-section-container container">
    <div class="order-container-title-and-form">
      <h2 class="order-title">
        <span class="order-title-span">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="order-form">
        <label for="order-input-name" class="order-input-label">
          <input
            name="name"
            type="text"
            id="order-input-name"
            class="order-input"
            placeholder="Enter your full name"
            pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
            required
          />
        </label>
        <label for="order-input-email" class="order-input-label">
          <input
            name="email"
            type="email"
            id="order-input-email"
            class="order-input"
            placeholder="Enter your email"
            required
          />
        </label>
        <label for="order-textarea" class="order-textarea-label">
          <textarea
            name="comment"
            id="order-textarea"
            class="order-textarea"
            placeholder="Comments"
          ></textarea>
        </label>
        <button class="order-form-button" type="submit">
          Send
          <svg class="order-form-button-svg" width="26" height="10">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="order-container-image">
      <img
        src="../img/orderTab.jpg"
        srcset="../img/orderTab.jpg 1x, ../img/orderTab@2x.jpg 2x"
        alt="ukrainian-vyshyvanka"
        class="order-img"
      />
      <img
        src="../img/order.jpg"
        srcset="../img/order.jpg 1x, ../img/order@2x.jpg 2x"
        alt="ukrainian-vyshyvanka"
        class="order-img-desktop"
      />
    </div>
  </div>
</section>
