<!-- TESTIMONIALS -->

<section class="testimonials">
  <div class="container container-testimonials">
    <h2 class="name-block-testimonials">Testimonials</h2>
    <ul class="clients-review">
      <li class="list-clients-review">
        <img
          class="img"
          srcset="../img/maria@2x.png 2x"
          src="../img/maria.png"
          alt="maria"
          width="64"
          height="64"
        />
        <div class="review-container">
          <h3 class="name-clients">Maria Tkachuk</h3>
          <p class="clients-review-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>

      <li class="list-clients-review private-review-s">
        <img
          class="img"
          srcset="../img/sergey@2x.png 2x"
          src="../img/sergey.png"
          alt="sergey"
          width="64"
          height="64"
        />
        <div class="review-container">
          <h3 class="name-clients">Sergey Rybachok</h3>
          <p class="clients-review-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>

      <li class="list-clients-review feedback-n">
        <img
          class="img"
          srcset="../img/natalia@2x.png 2x"
          src="../img/natalia.png"
          alt="natalia"
          width="64"
          height="64"
        />
        <div class="review-container">
          <h3 class="name-clients">Natalia Chatuk</h3>
          <p class="clients-review-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
