/*=======Styles for mobile=========*/

.section-about {
  padding-top: 40px;
  padding-bottom: 62px;
  background-image: url(../img/background/aboutMob.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 250px 408px;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .section-about {
    background-image: url(../img/background/aboutMob@2x.png);
  }
}

.title-about {
  color: var(--white, #fcf9f9);
  font-family: 'Manrope';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 40px;
}

.text-about {
  color: rgba(252, 249, 249, 0.4);
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  max-width: 335px;
}
.about-image {
  margin-top: 50px;
}
/*=======Styles for mobile=========*/

/*=======Styles for tab=========*/
@media screen and (min-width: 768px) {
  .section-about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/background/aboutTab.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 357px 484px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .section-about {
      background-image: url(../img/background/aboutTab@2x.png);
    }
  }

  .title-about {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
  }

  .text-about {
    font-size: 16px;
    max-width: 704px;
  }
  .about-image {
    margin-top: 40px;
  }
}
/*=======Styles for tab=========*/

/*=======Styles for desktop Min=========*/
@media screen and (min-width: 1280px) {
  .section-about .container {
    display: flex;
    gap: 50px;
  }
  .section-about {
    padding-top: 75px;
    padding-bottom: 80px;
    background-image: url(../img/background/aboutMin.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 385px 484px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .section-about {
      background-image: url(../img/background/aboutMin@2x.png);
    }
  }
  .text-about {
    max-width: 436px;
  }
  .title-about {
    margin-top: 46px;
  }
  .about-image {
    margin-top: 0;
  }
}
/*=======Styles for desktop Min=========*/

/*=======Styles for desktop Max=========*/
@media screen and (min-width: 1440px) {
  .section-about {
    background-image: url(../img/background/about.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 545px 484px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .section-about {
      background-image: url(../img/background/about@2x.png);
    }
  }
  .text-about {
    max-width: 481px;
  }
  .title-about {
    margin-top: 78px;
  }
}
/*=======Styles for desktop Max=========*/
